<br/><br/>
<div class="chart-container">
  <div data-esmp-left-chart></div>
  <div data-esmp-right-chart></div>
  <div id="esmp_react_wrapper">
    <%= react_component("SocialMediaPerformance", data: tagging_metrics) %>
  </div>
</div>
