<div class="chart-titles">
  <div class="left">Volume of posts   &nbsp;&nbsp;&nbsp;<span" class="tooltip-trigger"><i class="ug-icon i-info"></i><span class="tooltip">View the volume of posts within a particular attribute and the average post engagement across time</span></span"></div>
  <div class="right"><span" class="tooltip-trigger"><i class="ug-icon i-info"></i><span class="tooltip tooltip-left">Average engagement score tooltip </span></span">&nbsp;&nbsp;&nbsp;Average engagement score</div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="chart-container">
  <div data-esmp-left-chart></div>
  <div data-esmp-right-chart></div>
  <div id="esmp_react_wrapper">
    <%= react_component("SocialMediaPerformance", data: tagging_metrics) %>
  </div>
</div>
<%= render 'shared/loader' %>
