<div class="chart-titles">
  <div class="left">Volume of posts &nbsp;&nbsp;&nbsp;<span" class="tooltip-trigger"><i class="ug-icon i-info"></i><span class="tooltip">Number of posts evaluated against the attributes.</span></span"></div>
  <div class="right">Average engagement score &nbsp;&nbsp;&nbsp;<span" class="tooltip-trigger"><i class="ug-icon i-info"></i><span class="tooltip tooltip-left">Avg engagement score per attribute is calculated by taking all the posts evaluated against the attribute. Engagement score ranges from 0 to 1000.</span></span"></div>
</div>
<br><br><br><br>
<div class="chart-container">
  <div data-esmp-left-chart></div>
  <div data-esmp-right-chart></div>
  <div id="esmp_react_wrapper">
    <%= react_component("SocialMediaPerformance", data: tagging_metrics) %>
  </div>
</div>
<%= render 'shared/loader' %>
