<!-- start esmp-chart card  -->
<section class="ug-hand">
  <header>
    <h3>Analyze post volume versus engagement by each attribute</h3>
    <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
    <div class="ugh-description">Select your brand or those of your competitors in the filter.</div>
  </header>
  <div class="ug-card ug-chart" id="esmp_chart_loader_wrapper">
    <%= render 'shared/loader' %>
    <div id="esmp_chart_wrapper">
      <% if tagging_metrics && ((tagging_metrics.is_a? Hash) && (tagging_metrics.has_key? "tags")) %>
        <%= render 'charts', tagging_metrics: tagging_metrics %>
      <% else %>
        <%= render 'shared/no_results' %>
        <%= javascript_tag "remove_loaders()" %>
      <% end %>
    </div>
  </div>
</section>
<!-- END esmp-chart card -->

