<!-- start esmp-chart card  -->
<section class="ug-hand">
  <header>
    <h3>Explore posts volume vs engagement against the attributes</h3>
    <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
    <div class="ugh-description">Select your company or your competitors in the filter and see how social media posts are perceived and if they are engaging.</div>
  </header>
  <div class="ug-card ug-chart" id="esmp_chart_wrapper">
    <% if tagging_metrics && ((tagging_metrics.is_a? Hash) && (tagging_metrics.has_key? "tags")) %>
      <%= render 'charts', tagging_metrics: tagging_metrics %>
    <% else %>
      <%= render 'shared/no_results' %>
    <% end %>
  </div>

</section>
<!-- END esmp-chart card -->

