<!-- start esmp-chart card  -->
<section class="ug-hand ugh-open">
  <header>
    <h3>Employer Social Media Performance</h3>
    <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
    <div class="ugh-description">This view shows the attribute performance. On the left is the overall volume of the attributes where the length of the bar chart indicates how many posts talent thought was about these attributes. On the right is the average post engagement per attribute.</div>
  </header>
  <div class="ug-card ug-chart" id="esmp_chart_wrapper">
    <%= render 'charts', tagging_metrics: tagging_metrics %>
  </div>

</section>
<!-- END esmp-chart card -->

