<div class="pdf_container">
  <object data="<%= asset_url 'Universum_Iris_Overview.pdf' %>" type="application/pdf">
    <embed src="<%= asset_url 'Universum_Iris_Overview.pdf'  %>" type="application/pdf" />
  </object>
</div>
