<%= render 'shared/breadcrumbs', navigation: {"Home": homepage_index_path, "How Iris Breaks Down Your Brand": attributes_path} %>

<header class="ug-header ugh-narrow">
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>How Iris Breaks Down Your Brand</h1>
        <h4 class="subtitle">The Drivers of Employer Attractiveness comprise a scientific framework developed by Universum to capture a complete and nuanced picture of how talent understands the different aspects of an employer</h4>
      </div>
    </div>
  </div>
</header>

<%= react_component("Attributes", {attributes: @attributes}) %>

