<nav class="ug-breadcrumbs">
    <ul class="ugb-nav">
        <li><a href="#!">Iris Homepage</a></li>
        <li><a href="#!">The Universum Drivers of Employer Attractiveness</a></li>
    </ul>
</nav>

<!-- start .ug-header -->
<header class="ug-header ugh-narrow">
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>The Universum Drivers of Employer Attractiveness</h1>
        <h4 class="subtitle">The Drivers of Employer Attractiveness is a scientific framework developed by Universum and has been around for more than 27 years. It provides a complete picture of what talent perceive as important in their careers and what they associate with their preferred employers.</h4>
      </div>
    </div>
  </div>
</header>

<div class="sp-results mvpsp-results">
  <nav class="spr-tabs">
    <div id="mobile-attributes-filters">
      <select name="m-attributes-filters" id="m-attributes-filters" data-color="*"></select>
    </div>
    <ul id="attributes-filters">
      <li>
        <div class="spr-sort-filter">
            <input type="text" name="attribute-filter" id="attribute-filter" placeholder="Find attribute"/>
        </div>
      </li>
    </ul>
  </nav>
</div>

<div class="scroll-top-wrapper mvp">
  <span class="scroll-top-inner"><i class="icon-arrow"></i></span>
</div>
<!-- end .ug-header -->

<!-- start .page-content -->
<section class="page-content">
  <div class="attribute-grid clearfix" id="attributes-container">

  </div>
</section>
