<%= render 'shared/breadcrumbs', navigation: {"Iris Homepage": dashboard_index_path, "The Universum Drivers of Employer Attractiveness": attributes_path} %>

<header class="ug-header ugh-narrow">
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>The Universum Drivers of Employer Attractiveness</h1>
        <h4 class="subtitle">The Drivers of Employer Attractiveness is a scientific framework developed by Universum and has been around for more than 27 years. It provides a complete picture of what talent perceive as important in their careers and what they associate with their preferred employers.</h4>
      </div>
    </div>
  </div>
</header>

<%= react_component("Attributes", {attributes: @attributes}) %>

