<!-- start zoom-in-chart card  -->
<section class="ug-hand">
  <header>
    <h3 id="zoomin_trait_label"></h3>
    <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
    <div class="ugh-description">View the volume of posts for a particular attribute and the average engagement scores.</div>
  </header>
  <div class="ug-card ug-chart" id="post_metrics_chart_wrapper">
    <% if post_metrics && ((post_metrics.is_a? Hash) && (post_metrics.has_key? "avg_time")) && !post_metrics['avg_time'].blank? %>
      <%= render 'charts', post_metrics: post_metrics %>
    <% else %>
      <%= render 'shared/no_results' %>
    <% end %>
  </div>
</section>
<!-- END zoom-in-chart card -->
