<%= render 'shared/breadcrumbs', navigation: {"Iris Homepage": homepage_index_path, "Attribute Zoom-In": attribute_zoom_in_index_path} %>
<!-- start .ug-header -->
<header class="ug-header"> <!-- default is the light version - without adding "light" class to ug-header -->
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>Attribute Zoom-In</h1>
        <h4 class="subtitle">View the volume of posts for a particular attribute and the average engagement scores.</h4>
        <a href="#!" class="btn btn-filters"><i class="ug-icon i-filter"></i><span class="btnf-hide">Hide</span><span class="btnf-show">Show</span><span class="show-on-small"> filters</span></a>
      </div>
    </div>
  </div>
</header>

<%= render "shared/scroll" %>
<!-- end .ug-header -->

<!-- start .page-content -->
<section class="page-content">
  <%= render 'shared/filters', data: @post_metrics["filters"], select_filters: ["traits","company_groups","platforms"], post_type: false, date_range: true, api_path: filter_attribute_zoom_in_index_path, selected_options: @selected_options %>
  <!-- start .ug-hand-header -->
  <div class="ug-hand-header">
    <%= render 'post_metric_content', post_metrics: @post_metrics["data"] if @post_metrics["data"] %>
  </div>
  <!-- END .ug-hand-header -->

</section>
