<div class="ug-loading-container">
  <div class="ug-loading">
    <span class="icon-loading">
      <span class="l-outer"></span>
      <span class="l-middle"></span>
      <span class="l-inner"></span>
    </span>Loading...
  </div>
</div>
