<div class="no_results_center">
  <img src="<%= image_path "no_results.png" %>" alt="No Results Found">
  <p class="no_results_text">
    <b>Sorry, no results are found.</b><br>
    The data you are looking for doesn't exist.Please change your filter parameters.
  </p>
</div>
