<!-- start .ug-breadcrumbs -->
<nav class="ug-breadcrumbs">
    <ul class="ugb-nav">
        <li><a href="#!">Iris Homepage</a></li>
        <li><a href="#!">Attribute Zoom In</a></li>
    </ul>
</nav>
<!-- end .ug-breadcrumbs -->

<!-- start .ug-header -->
<header class="ug-header"> <!-- default is the light version - without adding "light" class to ug-header -->
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>Attribute Zoom-In</h1>
        <h4 class="subtitle">View the volume of posts within a particular attribute and the average post engagement<br>across time. Build your social media content strategy and plan when to post your content.</h4>
        <a href="#!" class="btn btn-filters"><i class="ug-icon i-filter"></i><span class="btnf-hide">Hide</span><span class="btnf-show">Show</span><span class="show-on-small"> filters</span></a>
      </div>
    </div>
  </div>
</header>

<div class="scroll-top-wrapper mvp">
  <span class="scroll-top-inner"><i class="icon-arrow"></i></span>
</div>
<!-- end .ug-header -->

<!-- start .page-content -->
<section class="page-content">
  <%= render 'shared/filters', data: @post_metrics, filters: ["traits","company_groups","platforms"] %>
  <!-- start .ug-hand-header -->
  <div class="ug-hand-header">
    <%= render 'post_metric_content', post_metrics: @post_metrics["data"] %>
  </div>
  <!-- END .ug-hand-header -->

</section>
