<header class="ug-header"> <!-- default is the light version - without adding "light" class to ug-header -->
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </div>
</header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
<%= render "shared/scroll" %>
<section class="page-content faq-page-content">
  <h2>Need support? We're here to help!</h2>
      <% @faqs.each do |faq| %>
    <div class="acc_wrap">
      <div class="question"><%= faq["question"] %><i class="fa fa-caret-down" aria-hidden="true"></i></div>
      <div class="answer">
        <%= faq["answer"] %>
        <% unless faq["video_url"].blank? %>
          <div>
            <%= youtube_embed(faq["video_url"]).html_safe %>
          </div>
        <% end %>
      </div>
    </div>
    <% end if @faqs %>
   </section>
<script>
$(document).ready(function()
{
    $('.acc_wrap .answer').hide();
    $('.acc_wrap > .question').click(function()
      {
        if ( $( this ).siblings().hasClass( 'active' ) )
        {
          $('.answer').slideUp();
          $('.question').removeClass('question-active');
          $('.answer').removeClass('active');
          $('.fa').removeClass('fa-flip');

        }
        else
        {
          $('.answer').slideUp();
          $('.question').removeClass('question-active');
          $('.fa').removeClass('fa-flip');
          $('.answer').removeClass('active');
          $(this).addClass('question-active');
          $(this).find('.fa').addClass('fa-flip');
          $(this).siblings().slideToggle();
          $(this).siblings().addClass('active');
        }
      });
 });
</script>
