<div class="wrap">
  <h2>Need support? We're here to help!</h2>
  <div class="accordion">
    <% @faqs.each do |faq| %>
      <div class="question"><%= faq["question"] %></div>
      <div class="answer"><%= faq["answer"] %></div>
    <% end if @faqs %>
  </div>
</div>
<script>
$(document).ready(function()
{
    $('.accordion .answer').slideUp();
    $('.accordion .question').click(function(){
      $('.answer').hide();
      $(this).next(".accordion .answer").slideToggle();

    });
});
</script>
