<div class="ug-card post-card ranked-post-card">
  <div class="rpc-header">
    <p class="ugpc-kind"><i class="ug-icon i-sponsored"></i> Sponsored</p>
    <div>
      <span class="ugpc-rank">2<sup>nd</sup></span>
      <div class="rpc-attribute orange tooltip-trigger">Ps
        <div class="ugpc-attribute orange tooltip">
          <span><span class="aca-nickname">Ps</span></span>
          <span class="aca-name">Attractive / exciting products and services</span>
        </div>
      </div>
      <div class="rpc-attribute blue tooltip-trigger">Fx
        <div class="ugpc-attribute blue tooltip">
          <span><span class="aca-nickname">Fx</span></span>
          <span class="aca-name">Enabling me to integrate personal interests in my schedule</span>
        </div>
      </div>
    </div>
  </div>
  <article class="ugpc-post bottom-image">
    <header>
      <figure class="ugpc-social-avatar">
        <img src="mockImages/post-avatar-ge.jpg" alt="">
      </figure>
      <div class="ugpc-social-info">
        <h5 class="name"><a href="#">GE</a></h5>
        <p class="date">13 Apr, 2020 18:03</p>
      </div>
      <a href="#!" class="ug-icon i-fb"></a>
    </header>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi ni ... <a href="#!">continue reading</a></p>

      <figure class="ugpc-post-image">
        <a href="#!">
          <img src="mockImages/post-image3.jpg" alt="">
        </a>
      </figure>
      <div class="ugpc-stats">
        <div class="stat">
          <p><i class="ug-icon i-likes"></i><span class="number">7.8K</span></p>
        </div>
        <div class="stat">
          <p><i class="ug-icon i-comments"></i><span class="number">1.7K</span></p>
        </div>
        <div class="stat">
          <p><i class="ug-icon i-shares"></i><span class="number">10K</span></p>
        </div>
      </div>
    </div>
  </article>
</div>
