<footer class="ug-footer">
    <div class="ugf-wrap">
        <ul class="bottom-links">
            <li>
                <a href="#!">Copyright 2016 Universum Communications AB</a>
            </li>
            <li>
                <a href="mailto:irissupport@universumglobal.com">Contact & Help</a>
            </li>
            <li>
                <a href="#!">Terms & Conditions</a>
            </li>
        </ul>
    </div>
</footer>
