<footer class="ug-footer">
    <div class="ugf-wrap">
        <ul class="bottom-links">
            <li>
                <a href="#!">Copyright 2016 Universum Communications AB</a>
            </li>
            <li>
                <a href="mailto:<%= ENV["SUPPORT_EMAIL"] %>">Contact & Help</a>
            </li>
            <li>
                <a href="<%= terms_and_conditions_path %>" target="_blank">Terms & Conditions</a>
            </li>
        </ul>
    </div>
</footer>
